@import 'base';
@import 'variables';
@import 'mixins';
@import 'header';
@import 'navigation';
@import 'components';

.brendan {
  float: left;
  padding-top: $padding-large;

  a {
    text-decoration: none;
    font-size: $font-size-large;
    color: $primary-color;
  }
}

.navigacija {
  float: right;
  padding-top: $padding-large;
}
