// Colors
$primary-color: black;
$secondary-color: grey;
$link-color: black;
$link-hover-color: white;
$background-color: rgb(232, 232, 232);

// Font sizes
$font-size-large: 30px;
$font-size-medium: 29px;
$font-size-small: 25px;
$font-size-smaller: 22px;
$font-size-xsmall: 18px;
$font-size-xxsmall: 17px;
$font-size-xxxsmall: 14px;
$font-size-xxxxsmall: 13px;
$font-size-xxxxxsmall: 16px;

// Padding
$padding-small: 10px;
$padding-medium: 16px;
$padding-large: 20px;
$padding-xlarge: 25px;
$padding-xxlarge: 30px;
$padding-top-xlarge: 50px;
$padding-bottom-xlarge: 50px;
$padding-top-xxlarge: 70px;
$padding-bottom-xxlarge: 40px;
$padding-top-xxxlarge: 80px;
$padding-bottom-xxxlarge: 60px;
$padding-top-xxxxlarge: 150px;
$padding-bottom-xxxxlarge: 35px;
$padding-bottom-xxxxxlarge: 30px;

// Widths
$width-95: 95%;
$width-80: 80%;
$width-32: 32%;
