@import 'variables';

* {
  margin: 0 auto;
  padding: 0;
  font-family: $font-family-base;
}

body {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

.sakri {
  display: none;
}

.top {
  display: none;
}

@font-face {
  font-family: 'font';
  src: url('../font/Montserrat-Regular.ttf');
}
