// Layout styles
.sredina {
    width: 75%;
    float: none;
    max-width: 90%;
}

.brendan {
    float: left;
    padding-top: 20px;
}

.navigacija {
    float: right;
    padding-top: 20px;
}

.dropdown {
    display: inline-block;
    width: 100%;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: right;
}
